<head>
	<link href="view/core/fileViewer/fileViewer.style.css" type="text/css" rel="stylesheet" />
</head>
<div class="container" ngf-drop ngf-select ng-model="files"	ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
						accept="image/*,application/pdf" ngf-pattern="image/*,application/pdf">
	<div class="row">
		<div class=" card col s12">
			<ul>
				<li ng-repeat="x in files">
					<p>{{x.name}}</p>
					<p>{{x.type}}</p>
					
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
<div class="row">
		<div class=" card col s12">
			<ul>
				<li ng-repeat="name in names">
					<p>{{name}}</p>					
				</li>
			</ul>
		</div>
	</div>
</div>
